---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: base64 representation
author: Gianmarco De Vita
title: base64
previous-page: pages/cmd/interm/apropos.html
next-page: pages/cmd/interm/basename.html
---

<i>Base64</i> is an encoding system that allows the translation of binary
data into ASCII text strings, basing upon 64 different ASCII characters.<br>
Each <i>Base64</i> digit represents exactly 6 bits of data so, for example,
six bytes (a total of 48 bits) can be represented by eight <i>Base64</i> digits.

By writing the command <code>base64</code> you can encode and decode Base64 data.
The command follows the structure:

<pre>
base64 [flag] [-i input item] [-o output item]
</pre>

<h3>Defining input and output files</h3>
In this case, flag such as <code>-i</code> and <code>-o</code> are fundamental
to define respectevely from which file take the stream and into which to store
the result. Naturally, the path and the name of the files must be specified.

<pre>
base64 -i path/input.file -o path/output.file
</pre>

<h3>Insert line breaks</h3>
Using the <code>-b</code> (which stands for <i>break</i>) flag followed by a
number, line breaks are added every specified "number" characters.

<pre>
base64 -b number path/input.file path/output.file
</pre>

By leaving the number field empty, an unbroken stream will be generated.

<h3>Decode Base64</h3>
Using the <code>-D</code> flag (which stands for decode), you obtain as
output the input message decoded into binary data.

<pre>
base64 -D [-i input item] [-o output item]
</pre>

<h3>Summarize the tools</h3>
Using the <code>-h</code> (which stands for <i>help</i>) a short paragraph
in which are listed the flags with the respective paragraph will be displayed.

<pre>
base64 -h
</pre>
