---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: cat content file show concatenate
author: Fabiano Fenini
title: cat
previous-page: pages/cmd/interm/caffeinate.html
next-page: pages/cmd/interm/chroot.html
---
The <code>cat</code> command can be easily associated to the word “concatenation” but
it doesn’t have that only function: in fact, cat command gives us the possibility to create
files and also to display them.<br>

The name stands for <i>catenate</i>.<br>

<h3>Usage</h3>

The default cat command syntax is:

<pre>
cat [flags] [--] [file1] [file2] [file...]
</pre>

Where [flags] are the <code>cat</code> flags, read below for more info, [--] indacates that the
following parameters won't be considered as flags, while the file parameters indicates
the names of one or more files to concatenate.
Between the names of two files is possible to use the shell redirection symbol "&gt;",
in order to redirect the output to the file considered.<br><br>

<h3>Flags</h3>
Here are some of the most common cat flags:

<ul>
   <li> <b>-n</b>: Display the line numbers of a file </li>
   <li> <b>-e</b>: Display "$" at the end of the line and also where there is a gap between paragraphs </li>
   <li> <b>-T</b>: Display TAB characters </li>
</ul>
