---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: change root
author: Gianmarco De Vita
title: chroot
previous-page: pages/cmd/interm/cat.html
next-page: pages/cmd/interm/chsh.html
---
The <code>chroot</code> utility allows you to change its root directory to
the one indicated in newroot and, if given, executes the command.<br>

<pre>
chroot newroot [command]
</pre>
