---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: stopped job fg foreground
author: Fabiano Fenini
title: fg
previous-page: pages/cmd/interm/curl.html
next-page: pages/cmd/interm/git.html
---
The <code>fg</code> command allows us to continue a stopped operation by running it
in foreground.<br>

The command name stands for <i>foreground</i>.<br><br>

<h3>Usage</h3>

The default fg command syntax is:

<pre>
fg [%job_number]
</pre>

The parameter [%job_id] contains the job number you wish to run in foreground.
If this is not indicated, the command will run the last stopped operation.<br><br>

<h3>Stop a working job</h3>

To stop the execution of a command so that it can be later resumed with <code>fg</code>
you need to press the <code>ctrl + Z</code> keys. The job number to be used with the
<code>fg</code> command will be printed.

<pre>
top
^Z
[1]  + NNNN suspended  top
</pre>
