---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: process status stats cpu ram memory
author: Joao Tomazoni
title: htop
previous-page: pages/cmd/interm/git.html
next-page: pages/cmd/interm/ifconfig.html
---

The <code>htop</code> command is used to display the system resources
usage and the active processes.
You can use it to see how your computer is running and what's using the
RAM and the CPU.

<pre>
htop
</pre>

To quit <code>htop</code> you need to type <code>q</code> on your keyboard. You can also click
with the mouse or touchpad to sort the columns of the displayed data.<br>
You can move across the stats using the keys on your keyboard.

<h3>Flags</h3>

<ul>
    <li><b>-d</b>: set the delay of refresh of information</li>
    <li><b>-C</b>: disable colors</li>
    <li><b>-p</b>: display only a specified process id</li>
    <li><b>-u</b>: display only a specified user</li>
    <li><b>-t</b>: display the processes with a tree view so you can understand better</li>
</ul>
