---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: terminate
author: Announ Marwan
title: kill
previous-page: pages/cmd/interm/install.html
next-page: pages/cmd/interm/md5.html
---
The <code>kill</code> command is used for terminating the
running processes on your system.<br>

In fact, using this commands you can easily kill all the processes that you want.
Sometimes happens that you couldn't control an application, for example when
you want to exit from your browser when it seems freezing.
You have to know that "kill commands" can help you in do this.<br>

<h3>killall</h3>

Will terminate all programs that match the name specified without
additional arguments.
You have to know also that "killall" sends SIGTERM, or signal number 15.
If you want to specify a different signal you can use "-s".

<pre>
killall -s 9 [process name]
killall -KILL [process name]
killall -9 [process name]
</pre>

<h3>kill</h3>

Will terminate only one program.
Without options, kill sends SIGTERM to the PID specified and asks the application
or service to shut itself down.

<pre>
kill [PID]
kill -s KILL [PID]
kill -KILL [PID]
</pre>
