---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: neofetch fetch neo
author: Marco Farace
title: neofetch
previous-page: pages/cmd/interm/mount.html
next-page: pages/cmd/interm/pass.html
---

<p>
Neofetch is a fast, higly customizable system info script. a  CLI  system
information tool written in BASH. Neofetch displays information about your
system next to an image, your OS  logo, or any ASCII file of your choice.</p>

<h3>Flags</h3>
<ul>
    <li>--disable [infoname]: Allows you to disable an info line from appearing
        in the output. infoname' is the function name from the 'print_info()'
        functioninside  the  config  file.For example: 'info "Memory" memory'
        would be '--disable memory'.
    </li>
    <li>--colors [x x x x x x]: Changes the text colors in this order:
        <code>title, @, underline, sub-title, colon, info</code>
    </li>
    <li>--underline [on/off]: Enable/Disable the underline.</li>
    <li>--bold [on/off]: Enable/Disable bold text</li>
    <li>--backend [backend]: Which image backend to use. Possible values:
        <code>'ascii', 'caca', 'jp2a', 'iterm2', 'off', 'sixel', 'tycat', 'w3m'</code>
    </li>
    <li>--source [source]: Which image or ascii file  to  use. Possible values:
        <code>'auto', 'ascii',    'wallpaper',    '/path/to/img', '/path/to/ascii',
            '/path/to/dir/'</code>
    </li>
    <li>--ascii [source]: Shortcut to use 'ascii' backend.</li>
</ul>
