---
layout: page
category-page: intermediate
category-title: Intermediate commands
tags: sync disk write completion
author: Gianmarco De Vita
title: sync
previous-page: pages/cmd/interm/sudo.html
next-page: pages/cmd/interm/tar.html
---
<p>
The <code>sync</code> utility force the completion of pending disk writes.</p>

<pre>
sync
</pre>

<p>
This command can be used to verify that there are no pending disk writes,
so that all the operations are completed, before the processor is stopped by other
commands.
</p>
