---
layout: page
category: File System
tags: absolute relative path
author: Marwan Announ
title: fs
---
<p>
<h1>ABSOLUTE VS RELATIVE</h1>

<p>
  Now, you can ask, why I have to use one or another?
  <br> What is the difference? and questions like this.
  <br> <br> <br> Don't worry, the answer it's easy.., we can use an absolute path from any location
  <br> whereas you want to use relative path we should be present that you have to be in the working directory.
</p>


<br><br><br>We suppose that now you know the differences between both, but, what is the vantages and disadvantages?


<br> <br> <br>
<h3> Pro and Cons of using Absolute and Relative </h3>

<pre>
<br>1)Absolute paths are clearer: who will have to maintain/modify your script (you or others) will be able to know
<br>every time what directories are involved;
<br><br>2)With absolute paths you are sure the involved directories are the one with the exact path you are writing
<br>in the script;
<br><br>3)Relative paths are shorter, but you need to be sure of the subtree you're working into;
<br><br>4)You can achieve shortness replacing recurring paths with a variable at the beginning of the script
<br><br>
(e.g. /var/log/app/component/module/logfile.log -> $module_log_dir/logfile.log)




</pre>


<!-- quiz about absolute vs relative, where the user have to choose one or another(javascript) -->

<h3> I'm sure that if you read this for two or more times you will be able to pass the quiz </h3>

Yeah, right, there is a quiz.
<br> The best way to learn something it's not the theory, in fact you have to do some practice, if you click
<br> the button "QUIZ", you can try to do a quiz in order to check what you've just read.

<br><br><br> Don't worry it's for you, good luck


<br><br><br> * for css, please try to do a button or layout to links the quiz*

</p>
<!-- quiz di javascript pronto che linkero -->

<!--

<link href ="style.css" rel ="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src = "main.js"></script>

</head>


<body>
<h1>Are you ready for the quiz?</h1>


<form id = "quiz" name = "quiz">



<p class = "questions">What is path?</p>

<input type = "radio" id = "mc" name = "question1" value = "Is a location to a folder or file in a file system of a Operating System"> Is a location to a folder or file in a file system of a Operating System<br>
<input type = "radio" id = "mc" name = "question1" value = "Is an Operating System"> Is an Operating System<br>
<input type = "radio" id = "mc" name = "question1" value = "Is a folder that you can find on your Operating System"> Is a folder that you can find on your Operating System<br>



<p class = "questions">What is an absolute path?</p>

<input type = "radio" id = "mc" name = "question2" value = "The bigger folder that you can find on your Operating System"> The bigger folder that you can find on your Operating System<br>
<input type = "radio" id = "mc" name = "question2" value = "Is defined as specifying the location of a file or directory from the root directory(/)"> Is defined as specifying the location of a file or directory from the root directory(/)<br>
<input type = "radio" id = "mc" name = "question2" value = "The last location of a file or directory from Documents"> The last location of a file or directory from Documents<br>



<p class = "questions">"cat /home/a1/group1.txt" it's an example of absolute path?</p>

<input type = "radio" id = "mc" name = "question3" value = "YES"> YES <br>
<input type = "radio" id = "mc" name = "question3" value = "NO"> NO <br>


<p class = "questions">If you choose "NO" why it's not correct? if you think it's correct don't write anything</p>
<input id = "textbox" type = "text" name = "question4">



<p class = "questions">"pwd/home/user1cd Documents" it's an example of relative path?</p>

<input type = "radio" id = "mc" name = "question5" value = "YES"> YES <br>
<input type = "radio" id = "mc" name = "question5" value = "NO"> NO <br>





<br><br><input id = "button" type = "button" value = "Finish?  Sure!?" onclick = "check();">


</form>

<div id = "after_submit">
<p id = "number_correct"></p>
<p id = "message"></p>
<img id = "picture">
</div>

-->
