---
layout: page
category-page: fs
category-title: FileSystem
tags: working directory current position where
author: Mirko Ponzio
title: pwd
previous-page: pages/fs/mv.html
next-page: pages/fs/relative.html
---

<!-- Co-authored with Joy Albertini -->

The command <code>pwd</code>(abbreviation of print working directory, it returns the
corrent directory) it is a command, that show the absolute pathname on the corrent directory.<br>

The working directory is the directory where you are standing in. So for
knowing where you are, you can use the pwd command.<br>

<pre>
cd /home/user
pwd = /home/user
</pre>

<h3>Flags</h3>

<ul>
    <li><code>-P </code> Show the  working directory path without symbolic link (links to
        folder).<br>
        Example: <i>/home/symphoto</i> a symlink to <i>/home/photos</i> <code>pwd -P</code>
        will display <i>/home/photos</i>.
    </li>
    <li><code>-L </code> Show the working directory logical path with symbolic link.<br>
        Example: <i>/home/symphoto</i>, that redirect to <i>/home/photos</i>,
        <code>pwd -L</code> will show <i>/home/symphoto</i>.
    </li>
    <li>Without any flag, -L is assumed, so the normal pwd is in reality <code>pwd -L</code>.</li>
</ul>
