---
layout: page
category-page: fs
category-title: FileSystem
tags: directory list remove delete erase
author: Mattia Hijman
title: rm
previous-page: pages/fs/relative.html
next-page: pages/fs/touch.html
---

The <code>rm</code> command is used to delete and unlink directories and files.<br>
It attempts to remove the non-directory type files specified on the command line.
If the permissions of the file do not permit writing, the user is prompted for confirmation.<br>
It stands for <i>ReMove</i>.

<pre>
rm [-dfiPRrvW] file1 file2 file....
</pre>

<h3>Flags</h3>
<ul>
    <li> <b>-d</b>: Attempt to remove directories as well as other types of files</li>
    <li> <b>-f</b>: Attempt to remove the files without prompting for confirmation, regardless
        of the file's permissions. If the file does not exist, do not display a diagnostic message
        or modify the exit status to reflect an error.</li>
    <li> <b>-i</b>: Request confirmation before attempting to remove each file,
        regardless of the file's permissions, or whether or not the standard input device
        is a terminal.</li>
    <li> <b>-P</b>: Overwrite regular files before deleting them. Files are overwritten
        three times, first with the byte pattern 0xff, then 0x00, and then 0xff again, before
        they are deleted.</li>
    <li> <b>-R</b>: Attempt to remove the file hierarchy rooted in each file argument.
        The -R option implies the -d option.
        If the -i option is specified, the user is prompted for confirmation before
        each directory's contents are processed (as well as before the attempt is
        made to remove the directory).
        If the user does not respond affirmatively, the file hierarchy rooted in that
        directory is skipped.</li>
    <li> <b>-r</b>: Same as -R.</li>
    <li> <b>-v</b>: Be verbose when deleting files, showing them as they are removed.</li>
    <li> <b>-W</b>: Attempt to undelete the named files.
        Currently, this option can only be used to recover files covered by whiteouts.</li>
</ul>

<h3>Removing links</h3>

The rm utility removes symbolic links, not the files referenced by the links.<br>
It is not allowed to remove the files "." or "..".<br>

When the utility is called as unlink, only one argument, which must not be a directory,
may be supplied. No options may be supplied in this simple mode of operation,
which performs an unlink(2) operation on the passed argument.<br>

The rm utility exits 0 if all of the named files or file hierarchies were removed,
or if the -f option was specified and all of the existing files or file hierarchies were removed.
If an error occurs, rm exits with a value 0.
