---
layout: page
category-title: Knowledge
category-page: basic
tags: tragedy know
author: Sheev Palpatine
title: The Tragedy
previous-page: pages/cmd/basic/open.html
next-page: pages/cmd/basic/ls.html
---

Did you ever hear the tragedy of <!--
  ~ Copyright (c) 2018 Bevilacqua Joey.
  -->

<b>Darth Plagueis</b> <i>The Wise</i>?<br>
<code>I thought not</code>. It’s not a story the Jedi would tell you.</br>
It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith,
so powerful and so wise he could use the Force to influence the midichlorians to <u>create life…</u><br>
He had such a knowledge of the dark side that he could even keep the ones he cared about from dying.<br>
The dark side of the Force is a pathway to many abilities some consider to be unnatural.<br>
He became so powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did.<br>
Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his sleep.<br>
<b>Ironic</b>. He could save others from death, but not himself.<br>

<h1>Surprise</h1>

<pre>
A surprise to be sure,
    but a welcome one.
</pre>

<table>
    <tr>
        <td>Take a</td>
        <td><b>seat</b></td>
    </tr>
    <tr>
        <td><a href="https://google.com">This</a> is where</td>
        <td>The fun begins</td>
    </tr>
</table>


<h3>Fish</h3>

<h2>Fish</h2>

<h1>Fish</h1>

There's always <a href="{{ site.baseurl }}/bigger.html">bigger</a> fish<br>

[visible confusion]

<ul>
    <li><u>Hello there</u></li>
    <li>General Kenobi</li>
    <li>You're a <b>bold</b> one</li>
</ul>

{% highlight bash %}

Dew it.

{% endhighlight %}


<table>
    <tr>
        <th>The</th>
        <th>negotiations</th>
    </tr>
    <tr>
        <td>where</td>
        <td>short</td>
    </tr>
    <tr>
        <td>I'll try</td>
        <td><i>spinning</i></td>
    </tr>
    <tr>
        <td>that's a</td>
        <td>good trick</td>
    </tr>
</table>
