---
layout: home
category: nosearch
author: A bunch of people
title: Home page
---

<video autoplay muted id="videoHome">
	<source src="assets/front/hero_video.mp4" type="video/mp4">
</video>

<div class="home-tiles">

  <a class="home-tile-title" href="{{ site.baseurl }}/pages/topic/cmd/basic.html">
    <article class="home-tile home-tile-white">
      Basic
    </article>
  </a>

  <a class="home-tile-title" href="{{ site.baseurl }}/pages/topic/cmd/intermediate.html">
    <article class="home-tile home-tile-green">
      Intermediate
    </article>
  </a>

  <a class="home-tile-title" href="{{ site.baseurl }}/pages/topic/cmd/advanced.html">
    <article class="home-tile home-tile-grey">
      Advanced
    </article>
  </a>

  <a class="home-tile-title" href="{{ site.baseurl }}/pages/topic/fs.html">
    <article class="home-tile home-tile-grey">
      FileSystem
    </article>
  </a>

  <a class="home-tile-title home-tile-title-2" href="{{ site.baseurl }}/pages/topic/scripts.html">
    <article class="home-tile home-tile-white">
      Scripting
    </article>
  </a>

  <a class="home-tile-title home-tile-title-3" href="{{ site.baseurl }}/pages/topic/about.html">
    <article class="home-tile home-tile-green">
      About
    </article>
  </a>

</div>

<div style="text-align:left;margin: 50px 0;font-size:2em;">
  <span style="padding: 10px 50px 10px 0;border-bottom: 2px solid #bdbdbd;"><i class="fas fa-graduation-cap"></i>  Learn</span>
  <p>
    <i class="home-quote">"I have learned a lot about the shell."</i> <div>- Nicola Brunner</div>
  </p>
</div>
<div style="text-align:right;margin: 50px 0;font-size:2em;">
  <span style="padding: 10px 0 10px 50px;border-bottom: 2px solid #bdbdbd;"><i class="far fa-smile-wink"></i>  Enjoy</span>
  <p>
   <i class="home-quote">"The best shell experience you can have."</i> <div>- Joao Tomazoni</div>
  </p>
</div>
<div style="text-align:left;margin: 50px 0;font-size:2em;">
  <span style="padding: 10px 50px 10px 0;border-bottom: 2px solid #bdbdbd;"><i class="fas fa-cogs"></i>  Run</span>
  <p>
    <i class="home-quote">"My scripts work."</i> <div>- Joey Bevilacqua</div>
  </p>
</div>
<div style="text-align:right;margin: 50px 0;font-size:2em;">
  <span style="padding: 10px 0 10px 0;border-bottom: 2px solid #bdbdbd;"><i class="fas fa-lightbulb"></i>  Solve</span>
  <p>
    <i class="home-quote">"Finally I can quit vi."</i>
    <div>- Claudio Maggioni</div>
  </p>
</div>
