* {
	margin: 0;
	padding: 0;
	z-index: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #333333;
  color: white;
  min-width: 475px;
}

main {
  text-align: justify;
  flex-grow: 1;
}

.container {
  max-width: 1000px;
  width: calc(100% - 6em);
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.post-content{
  padding-top:2em;
  line-height: 25px;
}

a {
  color: #6a6;
}

a:visited {
  background: white;
}

main {
  pre, section, p {
    margin: 1em 0;
  }

  td.code pre, pre.lineno {
    margin: 0;
  }

  pre {
    overflow-x: auto;
    padding: .5em;
  }

  td pre {
    padding: 0;
  }

  pre, code {
    font-family: "Source Code Pro", monospace;
  }

  pre code {
    overflow-wrap: normal;
    white-space: pre;
  }
}

.rouge-table {
  .gutter.gl {
    border-right: 1px solid #555;
    text-align: left;
    padding-right: .5em;
  }

  .code {
    padding-left: 1em;
  }
}

ul, dl, ol {
  margin-left: 2em;
  padding: 10px 0;
}

/* ------- HOMEPAGE --------*/

video{
  width:70%;
  margin:auto;
  display:block;
}

.cont3step{
  width: calc(90% + 50px);
  margin: 50px auto;
}

.cont3step span{
  width: calc(33% - 50px);
  background-color: white;
  height: 300px;
  margin: 0 25px;
}

.hidden-link {
  text-decoration: none;
  color: white;
}

/* ------- PAGE LAYOUT --------*/

.box-arrows {

  a{
  	transition:300ms;
    text-decoration:none;
    cursor:pointer;
    color:#fff;
  }

  i{
    font-size: 6vh;
    vertical-align:middle;
  }

  #back {
    float:left;
    left:3em;
  }

  #next {
    float:right;
    right:3em;
  }

  a:hover{
    color:#6a6;
  }
}

#time-line{
  float:left;
}

.post-title{
    font-size: 4vh;
    padding: 0 10px;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    background-color: #000;
    color: #00cc00;
    letter-spacing: 2px;
  }
