.home-quote {
    font-weight: bold;
    font-size: 2em;
}

.home-tiles {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.home-tile {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin: .25em;
    transition: all .2s ease-in-out;
    padding: 2rem 0;
}

.home-tile:hover {
    text-align: center;
    transform: scale(1.075);
}

.home-tile-green {
    background-color: #68BB6A;
    color: white;
}

.home-tile-green:hover {
    background-color: #388E3C;
    color: white;
}

.home-tile-white {
    background-color: #f5f5f5;
    color: #212121;
}

.home-tile-white:hover {
    background-color: #d0d0d0;
    color: #212121;
}

.home-tile-grey {
    background-color: #333333;
    color: white;
}

.home-tile-grey:hover {
    background-color: #212121;
    color: white;
}

.home-tile-title {
    text-decoration: none;
    flex: 0 0 calc(33.33%);
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.home-tile-title-2 {
    flex-basis: 66.66%;
}

.home-tile-title-3 {
    flex-basis: 100%;
}

#videoHome {
    width: 100%;
}

.hide{
    opacity:0;
}

@media screen and (max-width: 1024px) {

    .home-quote {
        font-weight: bold;
        font-size: 1.5em;
    }

   .home-tile {
        font-size: 2.5rem;
    }

    .home-tile-title {
        flex-basis: 50%;
    }

    .home-tile-title-2 {
        flex-basis: 100%;
    }

    .home-tile-title-3 {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 600px) {

    .home-quote {
        font-weight: bold;
        font-size: 1em;
    }

    .home-tile {
        font-size: 2rem;
    }

    .home-tile-title {
        flex-basis: 100%;
    }
}


.NotoSansLight{
    font-family: NotoSansLight;
}

.NotoSansBold{
    font-family: NotoSansSemiBold;
}

@font-face{
    font-family:'NotoSansLight';
    src:url('/assets/style/NotoSansMono/NotoSansMono-Thin.ttf ');
}

@font-face{
    font-family:'NotoSansSemiBold';
    src:url('/assets/style/NotoSansMono/NotoSansMono-SemiBold.ttf ');
}
