.list-commands {
   list-style: none;
   width: 100%;
 }

.list-commands li {
   border-radius: 50px;
   transition:500ms;
   margin-bottom:1em;

   a{
    width: calc(100% - 2em - 25px);
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    display: inline-block;
    padding: 4px 0 4px 20px;
   }
}

.before-command {
  cursor:pointer;
  background: #6a6;
  border-radius: 100%;
  padding: 4px 12px;
  font-size: 1.7em;
  transition:500ms;
}

.list-commands li:hover{
 	background-color: #646464;
  border-radius:10px;

  .before-command{
    border-radius:10px;
    color:#000;
  }

  .blink:after{
    content:"_";
    animation: blink 800ms linear infinite;
  }

  @keyframes blink{
    0% { opacity:1; }
    50% { opacity:1; }
    50.01% { opacity:0; }
    100% { opacity:0; }
  }
}

.list-commands-container {
  padding-top: 0.5rem;
}

.description-section{
  margin: auto;
  line-height: 30px;
  border-left: 5px solid #000;
  padding: 20px;
  margin: 50px 0;
}

.bli:after{
    content:"_";
    font-size:32px;
    animation: blink 800ms linear infinite;
  }


