---
layout: page
category-page: basic
category-title: Basic commands
tags: Open the Shell
author: Gianmarco De Vita
title: Open the Shell
next-page: pages/cmd/basic/1-terminal-toolbar.html
---

The tool that allows us to interact with the system with the shell is the terminal.
There are mainly two ways to access to the terminal on a MacOS system.

<h3>Through the Finder</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/open-from-finder.png" width="80%" alt="Open from Finder" />

<ol>
  <li>Open a new <i>Finder</i> window by clicking on the icon on the system dock.</li>
  <li>On the menu bar, click on <i>Go</i>.</li>
  <li>Click on <i>Utilities</i>.</li>
  <li>Look for <i>Terminal</i> and click on it.</li>
</ol>

<img src="{{ site.baseurl }}/assets/cmd/basic/open-from-spotlight.png" width="80%" alt="Open from Finder" />

<h3>Through <i>Spotlight</i></h3>
<ol>
  <li>You can use the shortcut <code>cmd+space</code> to access to <i>Spotlight</i>.</li>
  <li>Then search for <i>Terminal</i>.</li>
  <li>Click on the <i>Terminal</i> icon displayed as result.</li>
</ol>

<img src="{{ site.baseurl }}/assets/cmd/basic/terminal.png" width="80%" alt="Terminal" />

<h3>The terminal</h3>

As you open the Terminal, a new blank window opens:<br>
You can notice that the top lines in the window follow this structure:

<pre>
Last login: Day Month hh:mm:ss on console
Device-name:~ username$
</pre>

The tilde (~) just before your username means that the current position in
which the terminal is working is the Home directory. The gray spot next to
the symbol $ after your username indicates that you can write instructions
in that space.<br>

Now, you are ready to try and use some simple commands
to familiarize with this interface.<br>

Note that you can work simultaneously on multiple sessions of the Terminal.
