---
layout: page
tags: toolbar
category-page: basic
category-title: Basic commands
author: Marzio Lunghi
title: MacOS terminal toolbar
previous-page: pages/cmd/basic/0-openshell.html
next-page: pages/cmd/basic/2-closeshell.html
---

Once the MacOS Terminal app has been opened, a menu bar will appear exactly in the upper
left corner of the screen. This menu contains some preferences that could improve the user
experience and use of the Terminal.<br>
The menu is divided into 6 sections that I will describe briefly to give you a basic knowledge
that could be very useful once you have become familiar with the program.

<h3>Terminal</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/bar-terminal.png" width="30%" alt="Open from Finder" />

<ul>
    <li><b>Secure Keyboard Entry</b>:
        Inside the Terminal section you will find the item “secure Keyboard Entry”, this tool
        allows the user to enable an additional system security.<br>
        Essentially, this option prevents other Application from seeing what you are
        typing on the shell.<br>
        It also prevents processes that are working in background from
        monitoring your keystrokes.<br>
        In a first moment it seems that it doesn’t do anything, that’s because for
        people who works on their own personal computer, this additional secure may
        become an unnecessary precaution.<br>
        However, this option could be very useful if you using an unknown computer
        or a public computer.
    </li>
    <li><b>Hide terminal</b>:
        Although Shell’s window does not take a lot of space, it is possible to hide
        the window by pressing <code>⌘ + H</code>.
    </li>
    <li><b>Hide Others</b>:
        In the other hand, it’s possible to hide all the others windows (except the Terminal) by
        pressing  <code>⌥ + ⌘ + H</code>.
    </li>
    <li><b>Quit Terminal</b>:
        Once you have finished working with the Terminal, you can definitely close it by
        pressing  <code>⌘ + Q</code>.
    </li>
</ul>

<h3>Shell</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/bar-shell.png" width="30%" alt="Open from Finder" />

<ul>
    <li><b>New Window</b>: It creates a new window.</li>
    <li><b>New Tab</b>: It creates a new tab</li>
    <li><b>Close window</b>: This option closes the window without quitting the terminal.</li>
    <li><b>Show Inspector</b>:
        This option allows the user to customise the layout of the shell.
        This option contains some profiles that you can use instead of spending
        time to create your own one.<br>
        This option is not permanent, once the terminal has been quitted, the shell is set
        with the default settings.
    </li>

    <li><b>Edit Title</b>:
        This options shows the inspector too, but it selects the current title that
        you want to change
    </li>
    <li><b>Edit Background Colour</b>:
        This options shows some useful tools to customise the background of the shell.
    </li>
    <li><b>Reset</b>: This option re-initializes the terminal.</li>
    <li><b>Hard Reset</b>: This option re-initialize completely the terminal.</li>
    <li><b>Print Selection</b>:
        This option allows the user to print only a selection of the shell.
        The text must be selected by holding down the touchpad and then moving the mouse cursor.
    </li>
    <li><b>Print</b>: This options prints all the content of the shell.</li>
</ul>

<h3>Edit</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/bar-edit.png" width="30%" alt="Open from Finder" />

<ul>
    <li><b>Undo</b>: Undo the last input action.</li>
    <li><b>Redo</b>: Redo the last undone input action.</li>
    <li><b>Cut</b>:
        Traditionally, the cut command was designed to move texts within applications, but,
        according to the Mac user community, it’s not very intuitive.<br>
        There is a much easier alternative way, the copy and paste,
        known as <code>⌘ + C</code> (copy) and <code>⌘ + V</code> (paste).
    <li><b>Copy</b>: Copy the selected text.</li>
    <li><b>Copy Special</b>:
        It copy a selected text by giving you more options.
        For example, if you have a black background, copy special allows you to copy a
        selected file without considering the colour of the background
    </li>
    <li><b>Paste</b>: Past the text from the system clipboard.</li>
    <li><b>Paste Escaped Text</b>:
        If you want to copy a text with special symbols, precisely code text,
        you have to use paste escaped text to maintain the text intact and not have characters
        interpreted as code.
    </li>
    <li><b>Select All</b>: It selects all the content of the shell.</li>
    <li><b>Select Between Marks</b>: It selects a portion of the text between marks.</li>
    <li><b>Clear to Previous Mark</b>: Delete the last command and its contents.</li>
    <li><b>Clear to Start</b>: Delete all the content up to the start.</li>
    <li><b>Clear Scrollback</b>: It deletes all the not visible content.</li>
    <li><b>Clear Screen</b>: It deletes all the visible content on the screen.</li>
    <li><b>Find</b>:
        It allows the user to find portions of text or words that matches with the inserted one.
    </li>
</ul>

<h3>View</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/bar-view.png" width="30%" alt="Open from Finder" />

 <ul>
    <li><b>Show All Tabs</b>:
        It shows all tabs that you created, if no one has been created it will
        show only the current one.
    </li>
    <li><b>Show Tab Bar</b>:
        It shows you a tab bar with all the tabs created, this option is
        automatically enabled when you select “New Tab” under Shell section.
    </li>
    <li><b>Show Alternate Screen</b>: It creates an alternate screen.</li>
    <li><b>Hide Alternate Screen</b>: Disable the option “Show Alternate Screen”.</li>
    <li><b>Allow Mouse Reporting</b>:
        It means that mouse clicks will be visible to whatever is reading the terminal,
        the position and click will be encoded and used by Text mode mouse-aware
        applications with standards permissions
    </li>
    <li><b>Split Panel</b>: It split every window in two windows</li>
    <li><b>Close Split panel</b>: It closes all the windows created with the "Split panel"</li>
    <li><b>Default Font Size</b>:
        It set up default font size, if the size has been increased or decreased.
    </li>
    <li><b>Bigger</b>: It makes the font bigger.</li>
    <li><b>Smaller</b>: It makes the font smaller.</li>
    <li><b>Scroll to Top</b>: Scroll to the top, at the start.</li>
    <li><b>Scroll to Bottom</b>: Scroll to the bottom, at the end.</li>
    <li><b>Page Up</b>: It scroll up to the previous page.</li>
    <li><b>Page Down</b>: It scroll down to the next page.</li>
    <li><b>Line Up</b>: It scroll up to one line.</li>
    <li><b>Line Down</b>: It scroll down to one line.</li>
    <li><b>Enter Full Screen</b>: It makes the window fulls screen.</li>
</ul>

<h3>Window</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/bar-window.png" width="30%" alt="Open from Finder" />

<ul>
    <li><b>Minimise</b>: It reduces the terminal to an icon.</li>
    <li><b>Zoom</b>:
        It increases the size of the window.
        By default the size is set up to 80 x 24.
    </li>
    <li><b>Cycle Trough Windows</b>: It switches between open windows</li>
    <li><b>Show Previous Tab</b>: It shows previous tab, if any</li>
    <li><b>Show Next Tab</b>: It shows next tab, if any.</li>
    <li><b>Move Tab to New Window</b>: It moves a tab to a new window.</li>
    <li><b>Merge All Windows</b>: It takes all the windows and moves them to Tabs.</li>
    <li><b>Return to Default Size</b>: It returns to default size of the window (80 x 24).</li>
</ul>

<h3>Help</h3>

<img src="{{ site.baseurl }}/assets/cmd/basic/bar-help.png" width="30%" alt="Open from Finder" />

<ul>
    <li><b>Terminal Help</b>:
        It opens a useful guide that show you how familiarize with Terminal.
    </li>
    <li><b>Open man Page for selection</b>:
        Instead of digit man on the shell you can simply select the command and click on this option.
        It will give you back an external manual page with all the descriptions
    </li>
</ul>
