---
layout: page
category-page: basic
category-title: Basic commands
tags: Close shell
author: Marzio Lunghi
title: Closing the shell
previous-page: pages/cmd/basic/1-terminal-toolbar.html
next-page: pages/cmd/basic/3-ls.html
---
If you want to close the shell session, there are several ways to do so:

<ul>
    <li>Press <code>^ (control) + D</code>. Although this key combination closes the shell,
        it doesn't quit the terminal application as it just saves and closes the current session.
        A closed session does not allow any input or output anymore.
    </li>
    <li>Insert the <code>exit</code> command. Unlike the mentioned key combo, exit also quits
        the terminal application itself.
    </li>
</ul>
