---
layout: page
category-page: basic
category-title: Basic commands
tags: manual
author: Gianmarco De Vita
title: man
previous-page: pages/cmd/basic/3-ls.html
next-page: pages/cmd/basic/5-open.html
---
<p>
The <code>man</code> tool allows you to explore the various utilities
of the Shell. To search for more information about a command, just write</p>

<pre>
man command-name
</pre>

<p>
As result, a new session will be opened with information about the command
you have typed (and more specifically about its functions and flags).<br>

Using some flags, you can obtain with this command the same results you get
when you use other commands.
</p>

<h3>Flags</h3>

<ul>
    <li> <b>-k</b>: returns the equivalent of <code>apropos</code></li>
    <li> <b>-f</b>: returns the equivalent of <code>whatis</code></li>
</ul>
