---
layout: page
category-page: basic
category-title: Basic commands
tags: Clear shell
author: Marzio Lunghi
title: clear
previous-page: pages/cmd/basic/6-more-less.html
next-page: pages/cmd/basic/8-say.html
---
If you want to clear the shell screen up to the start you have to digit
the <code>clear</code> command:

<pre>
clear
</pre>

This command corresponds to the <code> ⌘ + K </code> key combination on Mac OS
