---
layout: page
category-page: basic
category-title: Basic commands
tags: say
author: Gianmarco De Vita
title: say
previous-page: pages/cmd/basic/7-clear.html
next-page: pages/cmd/basic/9-whatis.html
---

You can convert text into audible speech just by writing the command
<code>say</code> followed by a string.
This is possible thanks to the <i>Speech Synthesis manager</i> on Mac OS.

<pre>
say string
</pre>

Naturally, the wide presence of flags for this command allows you to use
this command for many different tasks. Notice that using more flag
simultaneously, you will be able to solve more complex operations.<br><br>

<h3>Read a particular file</h3>
By writing the command followed by the flag <code>-f</code> and, instead
of the string, by the path of a text file, you will get as output a voice
reading the content of that file.

<pre>
say -f path/text.txt
</pre>

<h3>Specify the reading voice</h3>
By writing the flag <code>-v</code> followed by a person name and a string, you
can decide which voice should read the string.

<pre>
say -v name string
</pre>

Of course, you're not expected to know every possible voice,
so, by writing a string (eg: "Hello world") as argument of the command
(including also the flag -v), you will get a list of all the available voices.

<pre>
say -v "Hello world"
</pre>

<h3>Specify the Speech Rate</h3>
By writing the flag <code>-r</code> followed by a rate and then by a
string, you can decide the reading speed in words per minute.

<pre>
ay -r rate string
</pre>

<h3>Store the output in an audible file</h3>
You can save the result of the command in an audible file. To do that,
you have just to write after the command the flag <code>-o</code> followed
by the path/name of the output file and then the string that has to be read.

<pre>
say -o path/audiofile.*format string
</pre>

As said above, you can use more flags in the same command, once you know
well them. See the examples below and try to guess the output. You can
copy these commands into your terminal to verify your answers. Naturally,
you have to create the text files if they don't exist (with some text
inside), to make the work.

<pre>
say -v Alex -f hello_world.txt
</pre>

<pre>
say -o hi.aac -f hello_world.txt
</pre>
