---
layout: page
category-page: basic
category-title: Basic commands
tags: Whatis
author: Marzio Lunghi
title: whatis
previous-page: pages/cmd/basic/8-say.html
next-page: pages/cmd/basic/10-info.html
---

The <code>whatis</code> command gives you a brief description of a command.

<pre>
whatis command
</pre>

It's similar to <code>man -f command</code>
