---
layout: page
author: Domenico Votta
category-page: advanced
category-title: Advanced commands
tags: remove column
title: colrm
previous-page: pages/cmd/advanced/bc.html
next-page: pages/cmd/advanced/comm.html
---
<code>colrm</code> is a command that removes the column that you indicate <br>

Here we have a file named <code>example.txt</code> that contains two lines to test this command:<br>

{% highlight bash %}
123456789
abcdefghi
{% endhighlight %}

The syntax command is:
<pre>
colrm [first] [last]
</pre>

<pre>
colrm 4 &lt; example.txt
    123
    abc
</pre>

As you can see, if I don't indicate the last column, the command removes
all the columns starting from 4 included.
<pre>
colrm 2 4 &lt; example.txt
    156789
    aefghi
</pre>

Here, as you can see, the command has not removed all the columns, but only the columns that
between 2 and 4, inclusive
