---
layout: page
author: Alessandro Luini
category-page: advanced
category-title: Advanced commands
tags: echo print text
title: echo
previous-page: pages/cmd/advanced/diff.html
next-page: pages/cmd/advanced/emacs.html
---

In computing, <code>echo</code> is a command in Unix operating systems that outputs the
strings that are passed to it as arguments.<br>

It is a command typically used to output status text to the screen or a
computer file, or as a source part of a pipeline.<br>

To use this simple command just type "echo" with the topic you want to
print. The computer will return your argument as a string.

<pre>
echo "hello world"
    hello world
</pre>
