---
layout: page
author: Alessandro Luini
category-page: advanced
category-title: Advanced commands
tags: advanced text editor
title: emacs
previous-page: pages/cmd/advanced/echo.html
next-page: pages/cmd/advanced/grep.html
---

Emacs is one of the oldest and most versatile text editors available for
UNIX-based systems. It's been around for a long time (more than twenty years
for GNU emacs) and is well known for its powerful and rich editing features.<br>
Emacs is also more than just a text editor; it can be customized and
extended with different "modes", enabling it to be used like an
Integrated Development Environment (IDE) for programming languages
like Java, C or Python.<br>

For those who have used both the ubiquitous vi and the user-friendly nano,
emacs would come as an interesting cross-between. Its strengths and features
would resemble those of vi while its menus, help files and easy-to-remember
command-keys would compare with nano.<br>

In this article, we will see how we can install emacs
in a Linux system and use it for basic text editing. Emacs
is also available for graphical window managers, however we will only cover the
"text based" version here.

<h3>Open a file, or create it like this:</h3>

<pre>
    emacs file1.txt
</pre>

And then follow the simple manual that will be open.
