---
layout: page
author: Domenico Votta
category-page: advanced
category-title: Advanced commands
tags: number lines count
title: nl
previous-page: pages/cmd/advanced/head-tail.html
next-page: pages/cmd/advanced/paste.html
---
<code>nl</code> is a command that allows you to number the lines.
Through some flags you can decide how to filter this command.<br>

We have a file named <code>example.txt</code> that contains 5 elements, to test this command:

{% highlight bash %}
Car
Computer
Robot
Smartphone
Videogame
{% endhighlight %}

The syntax is:
<pre> nl [flags][file] </pre>

<pre>
nl example.txt
    1  Car
    2  Computer
    3  Robot
    4  Smartphone
    5  Videogame
</pre>

As you can see, the command has numbered the lines.

<h2>Flags</h2>

<ul>
    <li> <b>-b (regex)</b>: Specify the lines to be numbered
<pre>
nl -b p^[cv] example.txt
    1  Car
    2  Computer
    3  Videogame
       Robot
       Smartphone
</pre>
    The part after the flag is used to number only the lines that start with c and v.
    </li>

    <li> -b<b>n</b>: The flag n goes with b, doesn't number any lines
<pre>
nl -bn example.txt
    Car
    Computer
    Videogame
    Robot
    Smartphone
</pre>
    </li>

  <li> <b>-s</b>: Usually nl separes the number of the line from the text with a tab, with -s
      flag you can choose another separator, in this example we will use "=".
<pre>
nl -s= example.txt
    1=Car
    2=Computer
    3=Videogame
    4=Robot
    5=Smartphone
</pre>
    </li>

</ul>
