---
layout: about
category-page: about
category-title: About
tags: Legal notice copyright information
author: Nicola Brunner
title: Legal notice and copyright information
---

<h3>&#169; 2018 THE SHELL - All rights reserved.</h3>
  <p>Any reproduction or distribution of material on the THE SHELL
    website for commercial purposes is prohibited without the express written
    consent from the THE SHELL team.</p>
<h3>Use of the website</h3>
  <p>Any use of this website and the content derived therefrom is subject
    to this Legal Notice. If you cannot accept the Legal Notice, you are
    kindly requested to leave the site without browsing it any further.</p>
<h3>Content</h3>
  <p>The entire content of this website, including the trade name and logo
    type, and all related product and design marks, slogans as well as all
    texts, codes, images and film clips ("Content") are subject to copyright.</p>
  <p>You may not copy the Content of this website other than for private
    non-commercial purposes with all copyright or other proprietary notices
    retained, and thereafter the Content may not be recopied, reproduced or
    otherwise redistributed.</p>

<h3>Limitation of liability</h3>
  <p>The information on this site is provided "as is" and "as available"
    without warranties or representations of any kind, expressed or implied,
    including, but not limited to, the implied warranties of merchantability,
    fitness for a particular purpose, non-infringement, accuracy, timeliness
    and completeness.</p>
  <p>Use of this site is at your own risk. The THE SHELL team is not liable for
    any loss, including but not limited to, loss of income, profits and
    revenue whether direct, indirect, punitive, incidental, special,
    consequential or other damages arising out of access to or use of this
    site or of any Content on the site, including viruses, regardless of
    the accuracy or completeness of any such Content.</p>

<h3>Hyperlinks to external websites</h3>
  <p>The THE SHELL team does not assume any responsibility for the content or
    functionality of external websites which are not operated or controlled
    by the THE SHELL team.</p>

<h3>Revisions to the legal notice</h3>
  <p>The THE SHELL team has taken reasonable care to ensure that the site content
    is accurate and up-to-date, however, the THE SHELL team may, at any time
    and without notice, revise this Legal Notice by updating this posting.
    Readers of the site are bound by any such revisions and should therefore
    periodically visit this page to review the current Legal Notice.</p>

    <p>For any questions or additional information about legal notice and
      copyright, please contact the THE SHELL team at
      <a href="mailto:info@theshell.ch">info@theshell.ch</a></p>
