---
layout: about
category-page: about
category-title: About
tags: motivation why important
author: Matteo Omenetti
title: Motivation
---

Why Learning the Unix Shell? <br>
This is the question that you probably asked yourself
the first time you saw someone doing something with it.<br>
Well, Unix Shell is actually a must have skill for any well respectable computer scientist.
There are indeed several reasons to learn using it, here are some:

<ul>
    <li>It is the only way to communicate with servers, because they don’t have a graphical
        user interface.
    </li>
    <li>You can program in the Shell! Unix Shell provides a set of special commands that can
        be used to create Scripts. Scripts are programs that can execute in a loop a series of
        commands. You can even create scripts that automatically fix your code!
    </li>
    <li>You look like a hacker, when you use it! (If you really want to look like a pro,
        go to settings and make the shell background black, with green text).
    </li>
</ul>
