---
layout: about
category-page: about
category-title: About
tags: project author people humans
author: Joey Bevilacqua
title: Who we are
---

<ul>
{% for item in site.authors %}
    <li><b>{{ item.name }}</b>: {{ item.position }}</li>
{% endfor %}
</ul>
